* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none
}

a {
    color: black;
}


body {
    min-width: 1300px;
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #999;
    background-color: #D6BF86;
    min-width: 1300px;
}

#header {
    background: #FFCC33;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 20px 10% 0 10%;
    font-size: 40px;
}




#text {
    width: 80%;
    height: 1200px;
    background: #FFFFFF;
    margin: 1% auto;
    border-radius: 25px;
    padding: 35px 40px;
    box-sizing: border-box;
}
.left {
       height: 100%;
       width: 30%;
       float: left;
}
.right {
  
    height: 100%;
    width: 67%;
    float: right;
}


.zaglav {font-size: 40px;
         font-weight: bold;
       
}
.left img {max-width: 100%;
           width: 100%;
           max-height: 300px;
           float: left;
           margin-right: 50px;
}
#text h3 {font-size: 30px;
          clear: left;
}
.active {font-size: 15px;
         margin-bottom: 50px;
}
ul li {font-size: 40px;
       clear: left;
}
p.content {margin-bottom: 20px;}
hr {border: 1px solid black;}
table {
       width: 100%;
       margin-bottom: 20px;
}

td.time {width: 20%;
        
}
.shapka {
    font-weight: bold;
    vertical-align: top;
}
td.work {padding-left: 20%;}


#footer {
    text-align: center;
    border-top: 1px solid black;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: #CC9933;
}

.first {
    height: 200px;
    width: 100%;
    clear: both;
}
