* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none
}

a {
    color: black;
}


body {
    min-width: 1300px;
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #999;
    background-color: #D6BF86;
    min-width: 1300px;
}

#header {
    background: #FFCC33;
    width: 100%;
   
    height: 250px;
    box-sizing: border-box;
    padding: 20px 10% 0 10%;
    font-size: 40px;
}




.logo {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    float: left;
   margin-right: 10px;
    
}

#nav {
    background-color: #CC9933;
    color: #f00;
    font-size: 120%;
    font-weight: bold;
    line-height: 1.8em;
    text-align: center;
}

    #nav ul {
        list-style-type: none;
    }

    #nav li {
        display: inline;
        margin: 0 4%;
    }

     

#text {
    width: 80%;
    height: 1200px;
    background: #FFFFFF;
    margin: 1% auto;
    border-radius: 25px;
}






#footer {
    text-align: center;
    border-top: 1px solid black;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: #CC9933;
   
}

.first {
    height: 200px;
    width: 100%;
   
    clear: both;
}