<table>
	{% for k, v in pairs(items) do %}
		<tr><td><a href="https://careers.epam.by/"><img src="{{v["image"]}}" width="60" height="27" alt="epam";></a></td>
<td><i><b>Кампания {{v["company"]}} приводит набор в уборщики</b></i>
<p>Требуются креативные сотрудники,владеющие <br>минимум тремя языками программирования</br></p></td>
<td>{{v["dollar"]}}</td></tr>
	{% end %}
</table>