
.pic{
   vertical-align: top;
    height: 200px;
}
.pictd {max-width: 200px;
      max-height: 200px;
}
td {
    max-height: 200px;
    text-align: left;
        vertical-align: top;
}
.table1 {
    width: 800px;
    height: 200px;
    background-color: #d5bf86;
}
