

<div id="text">
    {{#each sampleRezume}}
<div class="left">
                <img src="{{this.image}}" />
                <h3>{{this.name}}&nbsp; {{this.lastname}}</h3>
                <p class="active">{{this.status}}</p>
                <p class="zaglav">Contacts</p>
                <table>
                    <tr >
                        <td class="time">mobile:</td>
                        <td>+375292313254</td>
                    </tr>
                    <tr >
                        <td class="time">email:</td>
                        <td>{{this.email}}</td>
                    </tr>
                    <tr >
                        <td class="time">adress:</td>
                        <td>{{this.address}}</td>
                    </tr>

                </table>
            </div>
            <div class="right">
                <p class="zaglav">About me</p>
                <p class="content">{{this.paragraph}}</p>
                <hr />


                <p class="zaglav">Work experience</p>
                <table>
                    <tr class="shapka">
                        <td class="time">before 2020</td>
                        <td>{{this.company}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="work">{{this.sentence}}</td>

                    </tr>

                </table>
                <hr />

                <p class="zaglav">Education</p>
                <table>
                    <tr class="shapka">
                        <td class="time">2009-2020 </td>
                        <td>School №n</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="work">{{this.sentence}}</td>

                    </tr>
                    <tr class="shapka">
                        <td class="time">since 2020 </td>
                        <td>University</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="work">{{this.sentence}}</td>

                    </tr>

                </table>
                <hr />
            </div>
            {{/each}}
            </div>