<table class="table1">
	{% for k, v in pairs(items) do %}
		<tr>
<td rowspan="2" class="pictd" > <img class="pic" src="{{v["image"]}}" ></td>
<td class="name" >{{v["name"]}}</td>
</tr>
<tr>
<td class="description">{{v["sentence"]}}</td>
</tr>
	{% end %}
</table>