<table class="table1" >
{% for k, v in pairs(items) do %}
       <tr>
<td rowspan="3" class="pictd"> <img class="pic" src="{{v["image"]}}"></td>
<td class="name">{{v["name"]}} &nbsp; {{v["lastname"]}} </td>
</tr>
<tr>
<td class="prosmotr">{{v["status"]}}</td>
</tr>
<tr>
<td class="text">{{v["sentence"]}}</td>

</tr>
{% end %}
</table>