<div id="text">
    {% for k, v in pairs(items) do %}
<div class="left">
                <img src="{{v["image"]}}" />
                <h3>{{v["name"]}}&nbsp; {{v["lastname"]}}</h3>
                <p class="active">{{v["status"]}}</p>
                <p class="zaglav">Contacts</p>
                <table>
                    <tr >
                        <td class="time">mobile:</td>
                        <td>+375292313254</td>
                    </tr>
                    <tr >
                        <td class="time">email:</td>
                        <td>{{v["email"]}}</td>
                    </tr>
                    <tr >
                        <td class="time">adress:</td>
                        <td>{{v["address"]}}</td>
                    </tr>

                </table>
            </div>
            <div class="right">
                <p class="zaglav">About me</p>
                <p class="content">{{v["sentence"]}}</p>
                <hr />


                <p class="zaglav">Work experience</p>
                <table>
                    <tr class="shapka">
                        <td class="time">before 2020</td>
                        <td>{{v["company"]}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="work">{{v["sentence"]}}</td>

                    </tr>

                </table>
                <hr />

                <p class="zaglav">Education</p>
                <table>
                    <tr class="shapka">
                        <td class="time">2009-2020 </td>
                        <td>School №n</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="work">{{v["sentence"]}}</td>

                    </tr>
                    <tr class="shapka">
                        <td class="time">since 2020 </td>
                        <td>University</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="work">{{v["sentence"]}}</td>

                    </tr>

                </table>
                <hr />
            </div>
            {% end %}
            </div>