
.pic{
   vertical-align: top;
    height: 200px;
}
.pictd {width: 200px;
      height: 200px;
}
td {
    max-height: 200px;
    text-align: left;
        vertical-align: top;
}
.table1 {
    width: 1000px;
    height: 200px;
    background-color: #d5bf86;
}
